{
  "extends": [
    "stylelint-config-recommended-scss",
    "@pro-vision/stylelint-config-pv",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    "no-descending-specificity": null,
    "declaration-no-important": null,
    "selector-type-no-unknown": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/at-function-parentheses-space-before": null,
    "selector-class-pattern": [
      "^(tys\\-[a-z0-9\\-\\_]{1}[a-z0-9\\-\\_]*$|[a-z0-9]*$)",
      {
        "message": "does not follow hyphenated BEM style with prefix 'tys-'.",
      }
    ],
    "selector-id-pattern": [
      "^(tys\\-[a-z0-9\\-\\_]{1}[a-z0-9\\-\\_]*$|[a-z0-9]*$)",
      {
        "message": "does not follow hyphenated BEM style with prefix 'tys-'.",
      }
    ]
  }
}
